@import '../../styles/partials/colors';
@import '../../styles/partials/variables';

.FoodCard {
  height: 300px;
  background-color: $white;
  background: linear-gradient($eggshell, $white);
  box-shadow: $food-card-box-shadow;
  border-radius: 6px;
  position: relative;
  margin: 15px 0;
  .food-name {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
  }
  .over-card {
    width: calc(100% - 150px);
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    box-sizing: border-box;
    padding: 15px;
    .more {
      position: absolute;
      bottom: 15px;
      right: 15px;
      font-size: 14px;
    }
  }
  .under-card {
    position: absolute;
    width: 150px;
    height: 100%;
    background: linear-gradient($vegetable-light1, $vegetable-light2);
    overflow: hidden;
    z-index: 2;
    padding: 15px;
    border-radius: 6px;
    .left-panel {
      width: 120px;
      height: 100%;
      position: relative;
      float: left;
      .pill {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $white;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        background: $black-alpha15;
        padding: 5px 15px;
        border-radius: 100px;
        white-space: nowrap;
        &.top {
          top: 15%;
        }
        &.bottom {
          top: 85%;
        }
      }
      .item-img {
        width: 120px;
        height: 120px;
        background-position: center;
        border-radius: 100%;
        background-size: cover;
      }
    }
    .info-container{
      position: absolute;
      left: 150px;
      width: calc(100% - 150px);
      height: 100%;
      .food-name {
        color: $vegetable-dark1;
        margin-bottom: 0;
      }
      .notes {
        font-style: italic;
      }
    }
    .info {
      font-size: 32px;
      color: $vegetable-dark2;
      margin-top: 15px;
      i {
        display: block;
      }
      .row {
        padding-top: 10px;

      }
      .title {
        font-size: 14px;
        font-weight: 900;
        text-transform: uppercase;
      }
      .value {
        font-size: 16px;
      }
    }
  }
  &:hover {
    .under-card {
      width: 100%;
      // border-radius: 0 5px 5px 0;
    }
  }
}