$white: #ffffff;
$eggshell: #f8f8f8;

$black-alpha15: rgba(0,0,0,0.15);
$black: #000000;

$vegetable-dark1: #224C36;
$vegetable-dark2: #325C46;

$vegetable-light1: #92bCa6;
$vegetable-light2: #A2CCB6;
