@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-pro/css/all.min.css";

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}

.mobile {
  display: block;
}

.desktop {
  display: none;
}

@include media-breakpoint-up(md) {
.mobile {
  display: none;
}

.desktop {
  display: block;
}
}