@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-pro/css/all.min.css";

.mobile {
  display: block;
}

.desktop {
  display: none;
}

@include media-breakpoint-up(md) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }
}
